<% provide(title: "Muscle Application #{@user.name}")%>
<div class="row user-home">
    <h1>Welcome <%= @user.name%> !!</h1>
</div>
<div class="user-tasks">
    <div id="dialog-form" title="Create New Todo">
        <p class="validateTips">筋トレToDoを登録しましょう</p>
        <%= form_for @todo ,remote: true do |f| %>
            <%= render 'shared/form_error_messages'%>
            <%= f.label :title, "トレーニング名"%>
            <%= f.text_field :title, class:"text ui-widget-content ui-corner-all" %>
            <%= f.label :weight, "重量"%>
            <%= f.number_field :weight, min:1, max:200, step:1, class:"text ui-widget-content ui-corner-all"%>
            <%= f.label :set_count, "セット数"%>
            <%= f.number_field :set_count, min:1, max:100, step:1, class:"text ui-widget-content ui-corner-all"%>
            <%= f.label :clear_plan, "完了予定日"%>
            <%= f.date_field :clear_plan,class:"date-picker ui-widget-content ui-corner-all"%>
            <!-- Enter Button Submit -->
            <%= f.submit "", tabindex: "-1", style: "position:absolute; top:-1000px;"%>
        <%end%>
    </div>
    <div class="row weekly-tasks">
        <div class="col-lg-12 col-md-12">
            <h2>未完了のトレーニング</h2>
        </div>
    </div>

    <div class="row weekly-tasks table">
        <button type="button" class="btn btn-primary btn-sm pull-left" id="create-todo">登録する</button>
        <table class="table table-striped" id="todo-list">
            <thead>
                <tr>
                    <th>予定日</th>
                    <th>メニュー</th>
                    <th>重量</th>
                    <th>セット数</th>
                    <th>完了</th>
                </tr>
            </thead>
            <tbody>
                <% @user_todo_list.each do | todo |  %>
                    <tr>
                        <th><%= format_date(todo.clear_plan) %></th>
                        <th><%= todo.title%></th>
                        <th><%= todo.weight%></th>
                        <th><%= todo.set_count%></th>
                        <th><%= link_to "完了", todo_path, class:"btn btn-sm btn-primary", method: :delete, remote: true%></th>
                    </tr>
                <% end%>
            </tbody>
        </table>
    </div>
</div>

<div class="record-graph">
    <h2>完了済みトレーニング内訳</h2>
    <canvas id="chart">
    </canvas>
</div>
