<% provide(title: "Muscle Application #{@user.name}")%>
<div class="col-md-12 col-sm-12 user-home">
    <h1>Welcome <%= @user.name%> !!</h1>
</div>

<div class="col-md-12 col-sm-12 user-tasks">
    <div class="col-md-12 col-sm-12 weekly-tasks">
        <h2>未完了タスク一覧</h2>
        <div class="row weekly-tasks table">
        <button type="button" class="btn btn-primary btn-sm pull-left" data-toggle="modal" data-target="#create-todo-form">登録する</button>
        <%= render partial:'shared/create_todo_form', local:{todo: @todo}%>
        <table class="table table-striped" id="todo-list">
            <thead>
                <tr>
                    <th>予定日</th>
                    <th>メニュー</th>
                    <th>重量</th>
                    <th>セット数</th>
                    <th>完了</th>
                </tr>
            </thead>
            <tbody>
                <% @user_todo_list.each do | todo |  %>
                    <tr class="todo-column-#{todo.id}">
                        <th><%= format_date(todo.clear_plan) %></th>
                        <th><%= todo.title%></th>
                        <th><%= todo.weight%></th>
                        <th><%= todo.set_count%></th>
                        <!--<th><%= link_to "完了", complete_todo_path(todo), class:"btn btn-sm btn-primary", id:"complete-link", method: :patch, remote: true,data:{confirm: "完了ずみとして登録しますか?"}%></th>-->
                        <th><button type="button" class="btn btn-sm btn-primary" id="complete-button" data-toggle="modal" data-target="#modal-timeline-form<%=todo.id%>">完了</button>
                    </tr>
                    <!-- Modal Form-->
                    <%= render partial:'shared/todo_complete_form', locals:{todo: todo}%>
                    <!--%= render partial:'shared/todo_complete_form', collection:@user_todo_list, as: :todo%-->
                <% end%>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 record-graph">
    <h2>完了済みトレーニング内訳</h2>
    <canvas id="chart">
    </canvas>
</div>
<%= javascript_include_tag 'show_graph.js'%>
