<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/header"%>   
      <div class="row content" id="all-body">
          <%= render partial:'shared/error_messages'%>
        <!--div class="col-sm-12 col-md-12 content"-->
          <%= yield %>
        <!--/div -->
      </div>
    <%= render partial: "shared/footer"%>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
