<% provide(title: "Muscle Application") %>

<div class="jumbotron jumbotron-fruid" id="hero" style="background-image:url(/assets/hero.jpg)">
    <div class="row">
        <div class="title col-xs-12 col-md-6">
            <h1 id="top">Welcome To Muscle Application!!</h1>
            <p>筋トレに特化したタスク管理と筋トレ記録のシェアに特化したアプリケーションです</p>
            <p>本日も多くの人が筋トレをシェアしています</p>
            <%= render 'shared/timelines', posts: @all_posts%>
        </div>
        <div class="singup-form col-xs-12 col-md-5">
            <h1>Sign UP!!</h1>
            <p>筋トレ管理をはじめましょう</p>
            <%= form_for resource ,as:resource_name, url:new_user_registration_path, class:"hero-form" do |f|%>
                <%= render partial:"devise/shared/error_messages" %>
                <%= f.label :name,"名前"%>
                <%= f.text_field :name, class:"form-controle"%>
                <%= f.label :email, "メールアドレス"%>
                <%= f.email_field :email, class:"form-controle"%>
                <%= f.label :password, "パスワード"%>
                <%= f.password_field :password, class:"form-controle"%>
                <%= f.submit "登録", class:"btn btn-primary btn-md"%>
            <%end%>
            <%= link_to "すでに会員のかた", new_user_session_path, class:"btn btn-primary btn-md"%>
        </div>
    </div>
</div>
<div class="jumbotron app-introduce">
    <h1 class="title col-md-12 col-xs-12">アプリケーションの特徴</h1>
    <div class="row function my-2 py-2"  id="function-todo">
        <div class="col-md-6 col-xs-12 app-function1 text-center">
            <%= image_tag "task.png", size:"320"%>
        </div>
        <div class="col-md-6 col-xs-12 app-function1">
            <h4>筋トレのToDoを管理</h4>
            <p>筋トレのToDo管理を行います</p>
            <p>種目・セット数・重さ・完了予定日を登録して筋トレ予定を管理します</p>
        </div>
    </div>

    <div class="row function my-2 py-2" id="function-graph">
        <div class="col-md-6 col-xs-12 app-function2 text-center">
            <%= image_tag "graph.png", size:"320"%>
        </div>
        <div class="col-md-6 col-xs-12 app-function2">
            <h4>データの可視化</h4>
            <p>完了した筋トレデータをグラフで可視化します</p>
            <p>可視化を行うことで重点的に鍛えている部分や不足している部分を把握することができます</p>
        </div>
    </div>
    <div class="row function my-2 py-2">
        <div class="col-md-6 col-xs-12 app-function3 text-center">
            <%= image_tag "share.png", size:"320"%>
        </div>
        <div class="col-md-6 col-xs-12 app-function3">
            <h4>トレーニングのシェア</h4>
            <p>自分が行なっているトレーニングのToDo記録や記事をシェアすることができます</p>
            <p>自分のトレーニングメニューやノウハウを簡単にシェアすることができます</p>
        </div>
    </div>
</div>